// ----------------------------------------------
// Variables Style
// ----------------------------------------------

// colors
$white: #fff !default;
$gray-100: #FBFAF8 !default;
$gray-200: #5b5c5b !default;
$gray-300: #434544 !default;
$gray-400: #141615 !default;
$black: #000 !default;

// Color
$blue: #141615 !default;
$indigo: #163352;
$cyan: #CCD8E0;
$red: #721c24;

// Main Colors
$primary: $blue !default;
$secondary: #EFE1C1 !default;
$info: $cyan !default;
$danger: $red !default;
$indigo: $indigo !default;
$light: $gray-100 !default;
$muted: $gray-300 !default;
$dark: $gray-400 !default;
$dark-light: #6E706F !default; 
$light-gray: $gray-200 !default;

// Theme Colorss
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "danger": $danger,
  "indigo": $indigo,
  "light": $light,
  "dark": $dark,
  "muted": $muted,
  "dark-light": $dark-light,
  "light-gray": $light-gray,
  ) !default;


// light colors  
$success-bg-subtle: #C8FBC7 !default;
$warning-bg-subtle: #FDF0D3 !default;
$danger-bg-subtle: #f8d7da !default; 
$dark-bg-subtle: #3A4245 !default; 

// Spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 10px,
  7: 12px,
  8: 20px,
  9: 30px,
  10: 40px,
  11: 64px,
  12: 80px,
  13: 100px,
  14: 110px,
  15: 130px,
  16: 148px,
  17: 160px,
  18: 170px,
  19: 180px,
  20: 200px,
  ) !default;

$utilities: (
  ) !default;
$utilities: (
  "width": (property: width,
    class: w,
    values: (20: 20%,
      25: 25%,
      30: 30%,
      40: 40%,
      50: 50%,
      60: 60%,
      70: 70%,
      75: 75%,
      85: 85%,
      100: 100%,
      auto: auto,
    ),
  ),
);

// Common
$min-contrast-ratio: 1.7 !default;

// Margins
$enable-negative-margins: true !default;
$enable-shadows: true !default;

// Global
$text-muted: $muted !default;
$grid-gutter-width: 30px !default;

// Font Weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

// Buttons
$btn-padding-y: 4px !default;
$btn-padding-x: 4px !default;
$btn-color: $white !default;
$btn-link-color: $white !default;
$btn-font-weight: 700 !default;
$btn-border-radius: 100px !default;
$btn-box-shadow: unset !default;
$btn-font-size: 16px !default;
$btn-border-radius-lg: 9px !default;

// Font Family
$font-family-sans-serif: "Fustat", sans-serif !default;

// Font Sizes
$font-sizes: (
  1: 10px,
  2: 12px,
  3: 14px,
  4: 16px,
  5: 18px,
  6: 20px,
  7: 22px,
  8: 24px,
  9: 26px,
  10: 30px,
  11: 36px,
  12: 48px,
  13: 64px,
  14: 96px,
  ) !default;
$font-size-base: 1rem !default;

$h1-font-size: 96px !default;
$h2-font-size: 48px !default;
$h3-font-size: 26px !default;
$h4-font-size: 22px !default;
$h5-font-size: 18px !default;
$h6-font-size: 16px !default;

// Line Heght
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// Body
$body-bg: $white !default;
$body-color: $gray-300 !default;

// Heading
$headings-color: $dark !default;
$headings-font-weight: 700 !default;

// Border Color
$border-color: rgba(20, 22, 21, 0.2) !default;


// Box Shadow
$box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08) !default;
$box-shadow-sm: 0px 6px 8px -6px rgba($black, 0.15) !default;
$box-shadow-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
  0px 4px 6px -2px rgba(16, 24, 40, 0.03) !default;
$box-shadow-inset: unset !default;

// Card
$card-title-color: $dark !default;
$card-subtitle-color: var(--bs-body-color) !default;
$card-spacer-y: 32px !default;
$card-spacer-x: 32px !default;
$card-border-radius: 24px !default;
$card-border-width: 0px !default;
$card-box-shadow: $box-shadow !default;

// Border Radius
$border-radius: 8px !default;
$border-radius-sm: 16px !default;
$border-radius-lg: 24px !default;

// Badges
$badge-font-size: 16px !default;
$badge-font-weight: 600 !default;
$badge-padding-y: 15px !default;
$badge-padding-x: 24px !default;
$badge-border-radius: $btn-border-radius !default;

// Tabs
$nav-pills-border-radius: $btn-border-radius !default;
$nav-pills-link-active-color: $white !default;
$nav-pills-link-active-bg: $primary !default;
$nav-link-padding-y: 0.688rem !default;
$nav-link-padding-x: 1.5rem !default;
$nav-link-font-size: 16px !default;
$nav-link-font-weight: 600 !default;
$nav-link-color: $dark !default;
$nav-tabs-border-width: 1px !default;
$nav-tabs-border-color: $border-color !default;

// Breadcrumb
$breadcrumb-font-size: 18px !default;
$breadcrumb-item-padding-x: 0.625rem !default;
$breadcrumb-active-color: $dark !default;

// Tooltips
$tooltip-font-size: 12px !default;
$tooltip-bg: $dark;

// Input
$input-placeholder-color: $dark;
$form-label-color: $dark;
$form-label-font-weight: 500;
$form-select-indicator-padding: 38px;
$form-select-border-radius: 8px !default;
$form-select-box-shadow: unset !default;
$input-border-radius: 8px !default;
$input-group-addon-bg: $dark !default;
$input-group-addon-border-color: $border-color !default;
$input-border-color: $border-color !default;
$input-bg: transparent !default;
$input-color: $dark !default;
$input-padding-y: 14px;
$input-padding-x: 15px;
$form-check-input-width: 1.5em;
$form-check-min-height: 1.5em;
$form-check-label-color: $dark;
$form-check-input-border-radius: 8px !default;
$form-check-input-border: 1.25px solid $border-color !default;
$form-check-input-checked-bg-color: var(--bs-primary
);


// Dropdown
$dropdown-border-radius: $border-radius-lg !default;
$dropdown-min-width: 380px !default;
$dropdown-border-width: 0 !default;
$dropdown-item-padding-y: 10px !default;
$dropdown-link-hover-bg: $gray-100 !default;
$dropdown-link-active-bg: $gray-100;
$dropdown-link-active-color: $dark;
$link-color: $dark !default;

$link-hover-color: $primary !default;

// Accordion
$accordion-bg: transparent;
$accordion-padding-y: 30px;
$accordion-padding-x: 0;
$accordion-button-color: $dark;
$accordion-body-padding-y: 20px;
$accordion-border-color: $border-color;
$accordion-button-active-bg: transparent !default;
$accordion-button-active-color: $dark;
$accordion-icon-color: $dark;
$accordion-icon-active-color: $dark;
$accordion-button-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='currentColor' d='M11 13H6q-.425 0-.712-.288T5 12t.288-.712T6 11h5V6q0-.425.288-.712T12 5t.713.288T13 6v5h5q.425 0 .713.288T19 12t-.288.713T18 13h-5v5q0 .425-.288.713T12 19t-.712-.288T11 18z'/%3E%3C/svg%3E");
$accordion-button-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from IconaMoon by Dariush Habibpour - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M5 12a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1' clip-rule='evenodd'/%3E%3C/svg%3E");


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  ) !default;


$hr-border-color: $border-color !default;
$hr-opacity: 1 !default;