.round-35 {
  width: 35px !important;
  height: 35px !important;
}

.round-48 {
  width: 48px !important;
  height: 48px !important;
}

.round-52 {
  width: 52px;
  height: 52px;
}

.round-120 {
  width: 120px;
  height: 120px;
}