.header {
    padding: 32px 0;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;

    @include media-breakpoint-down(lg) {
        padding: 20px 0;
    }

    &.header-inner.fixed-header {
        position: fixed !important;
        top: 0;
        left: 0;
    }

    &.fixed-header {
        padding: 20px 0;
        background-color: var(--bs-primary);

    }

    .header-right {
        @include media-breakpoint-down(md) {
            flex-direction: row-reverse;
        }
    }

    .logo-img {
        img {
            @include media-breakpoint-down(md) {
                max-width: 150px; 
            }
        }
    }

    .header-menu-dropdown {
        .accordion {
            .accordion-item {
                .accordion-button:not(.collapsed) {
                    .animate-spin {
                        display: block;
                    }
                }

                .accordion-button {
                    .animate-spin {
                        display: none;
                    }
                }
            }
        }
    }
}