.banner-section {
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($dark, 0.60);
    }
}

.banner-inner-section {
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down(lg) {
        background-position: center;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            linear-gradient(270deg, rgba(0, 0, 0, 0) 20.31%, rgba(0, 0, 0, 0.9) 93.54%);

        @include media-breakpoint-down(lg) {
            background: rgba($dark, 0.70);
        }
    }
}

.banner-slider {
    .owl-carousel {
        .item {

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(270deg, rgba(1, 1, 2, 0) 54.77%, #010102 64.45%),
                    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

                @include media-breakpoint-down(lg) {
                    background: linear-gradient(270deg, rgba(1, 1, 2, 0) 100%, #010102 64.45%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                }
            }

            background-repeat: no-repeat;
            background-position: top right;
            background-size: cover;

            @include media-breakpoint-down(lg) {
                background-position: center;
            }
        }
    }

    .banner-slider-dots {
        .custom-dot {
            border: 0;
            border-top: 1px solid rgba($white, 0.10);
            background-color: transparent;

            &.active {
                border-color: $secondary;
            }
        }
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

.who-we-are-img {
    &::before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62.37%, #000000 100%);
    }
}

.blog {
    .blog-img {
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            padding-top: 64%;
        }

        >img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        transition: all 0.2s ease;

        img {
            transition: all 0.2s ease;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.our-blog-slider,
.partners-sponsors-slider,
.testimonials-slider {
    .owl-carousel {
        .owl-stage-outer {
            .owl-stage {
                .owl-item {
                    padding: 20px;
                }
            }
        }

        .owl-nav {
            margin: 40px auto auto auto;
            text-align: center;
            width: fit-content;
            border-radius: 100px;
            border: 1px solid $border-color;
            padding: 4px;
            display: flex;
            gap: 10px;
            align-items: center;

            @include media-breakpoint-down(lg) {
                margin: 0 auto auto auto;
            }

            .owl-prev,
            .owl-next {
                width: 52px;
                height: 52px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($light, 0.9);

                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }
}

.partners-sponsors-slider {
    .owl-stage {
        .owl-item {
            .item {
                .card {
                    height: 146px;
                }
            }

            img {
                width: auto;
            }
        }
    }
}

.testimonials-slider {

    .owl-carousel {
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            gap: 40px;
        }
    }

    .owl-stage-outer {
        height: 100%;
        width: 100%;
        display: table;

        @include media-breakpoint-down(lg) {
            display: block;
        }

        .owl-stage {
            height: 100%;
        }

        .owl-item {
            height: 100%;
            padding: 0 !important;

            .item {
                height: 100%;

                img {

                    @include media-breakpoint-up(lg) {
                        width: auto;
                        height: revert-layer;
                    }
                }
            }
        }

    }

    .owl-nav {
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0 !important;
        }
    }
}


.breadcrumb-item+.breadcrumb-item::before {
    content: '';
    display: inline-block;
    background: url('https://api.iconify.design/solar:alt-arrow-right-linear.svg') no-repeat center;
    width: 1rem;
    height: 1rem;
    margin: 4px 4px 4px -4px;
}


.academy-img {
    cursor: pointer;

    &::before {
        content: '';
        display: block;
        padding-top: 84%;
    }

    >img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    transition: all 0.2s ease;

    img {
        transition: all 0.2s ease;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.academy-content {
    @include media-breakpoint-up(lg) {
        height: 255px;
    }
}

.accordion {
    .accordion-item {
        .accordion-button {
            &:not(.collapsed) {
                box-shadow: unset;
                padding-bottom: 0;
            }
        }
    }
}

.coaches-img {
    cursor: pointer;

    &::before {
        content: '';
        display: block;
        padding-top: 110%;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130%;
        object-fit: cover;
    }

    transition: all 0.2s ease;

}

.accordion-blog {
    .accordion-button {
        &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        }
    }
}

.locations {
    @include media-breakpoint-down(xl) {
        .border-end {
            border-right: 0 !important;
        }
    }
}


// RTL

html[dir=rtl] body {
    text-align: right;
    direction: rtl;

    .btn-icon {
        transform: rotateY(180deg);
        left: 4px;
        right: inherit;
        top: 6%;
    }

    .btn {
        padding: 17px 24px 17px 58px;

        &:hover {

            .btn-text {
                transform: translateX(-2.5rem);
            }

            .btn-icon {
                right: 4px;
                transform: none;
                left: inherit;
            }
        }
    }

    // .btn {
    //     padding: 17px 24px 17px 58px;

    //     .btn-text {

    //     }

    //     .btn-icon {
    //         left: auto;
    //         right: 100%;
    //         transform: translate(108%, -50%);


    //     }
    //     iconify-icon{
    //         svg{
    //             transform: rotateY(180deg);
    //         }
    //     }


    //     &:hover{

    //         .btn-text{
    //             transform: translateX(-2.5rem);
    //         }

    //         .btn-icon{
    //             left: 100%;
    //             right: auto;
    //             transform: translate(-108%, -50%);
    //         }
    //     }
    // }

    .owl-nav {
        .owl-prev {
            svg {
                transform: rotateY(180deg);
            }
        }

        .owl-next {
            svg {
                transform: rotateY(180deg);
            }
        }
    }

    .pagination {
        .page-link {
            iconify-icon {
                transform: rotateY(180deg);
            }
        }
    }

    .header {
        .header-wrapper {
            flex-direction: row-reverse !important;
        }
    }

    .dir-arrow-rtl {
        iconify-icon {
            transform: rotateY(180deg);
        }
    }

    .text-start {
        text-align: right !important;
    }

    .breadcrumb-item+.breadcrumb-item {
        padding-left: 0;
        padding-right: var(--bs-breadcrumb-item-padding-x);
    }

    .breadcrumb-item+.breadcrumb-item::before {
        float: right;
        margin: 4px -4px 4px 4px;
        transform: rotateY(180deg);
    }

    .accordion-button::after {
        margin-right: auto;
        margin-left: unset;
    }

    .dropdown-menu,
    .accordion-button {
        text-align: right;
    }

    // Responsive alignment
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

            .text#{$infix}-start {
                text-align: right !important;
            }

            .text#{$infix}-end {
                text-align: left !important;
            }

            .text#{$infix}-center {
                text-align: center !important;
            }
        }
    }

    // Margin and Padding
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

            @each $prop, $abbrev in (margin: m, padding: p) {
                @each $size, $length in $spacers {
                    .#{$abbrev}#{$infix}-#{$size} {
                        #{$prop}: $length !important;
                    }

                    .#{$abbrev}t#{$infix}-#{$size},
                    .#{$abbrev}y#{$infix}-#{$size} {
                        #{$prop}-top: $length !important;
                    }

                    .#{$abbrev}e#{$infix}-#{$size} {
                        #{$prop}-right: unset !important;
                        #{$prop}-left: $length !important;
                    }

                    .#{$abbrev}b#{$infix}-#{$size},
                    .#{$abbrev}y#{$infix}-#{$size} {
                        #{$prop}-bottom: $length !important;
                    }

                    .#{$abbrev}s#{$infix}-#{$size} {
                        #{$prop}-left: unset !important;
                        #{$prop}-right: $length !important;
                    }
                }
            }

            // Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
            @each $size, $length in $spacers {
                @if $size !=0 {
                    .m#{$infix}-n#{$size} {
                        margin: -$length !important;
                    }

                    .mt#{$infix}-n#{$size},
                    .my#{$infix}-n#{$size} {
                        margin-top: -$length !important;
                    }

                    .me#{$infix}-n#{$size},
                    .mx#{$infix}-n#{$size} {
                        margin-right: unset !important;
                        margin-left: -$length !important;
                    }

                    .mb#{$infix}-n#{$size},
                    .my#{$infix}-n#{$size} {
                        margin-bottom: -$length !important;
                    }

                    .ms#{$infix}-n#{$size},
                    .mx#{$infix}-n#{$size} {
                        margin-left: unset !important;
                        margin-right: -$length !important;
                    }
                }
            }

            // Some special margin utils
            .m#{$infix}-auto {
                margin: auto !important;
            }

            .mt#{$infix}-auto,
            .my#{$infix}-auto {
                margin-top: auto !important;
            }

            .me#{$infix}-auto,
            .mx#{$infix}-auto {
                margin-right: unset !important;
                margin-left: auto !important;
            }

            .mb#{$infix}-auto,
            .my#{$infix}-auto {
                margin-bottom: auto !important;
            }

            .ms#{$infix}-auto,
            .mx#{$infix}-auto {
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    }

    //
    // Border
    //
    .border-start.border-2.border-info {
        border-right: 2px solid var(--bs-info) !important;
        border-left: 0 !important;
    }

    .border-start.border-2.border-warning {
        border-right: 2px solid var(--bs-warning) !important;
        border-left: 0 !important;
    }

    .border-start.border-2.border-danger {
        border-right: 2px solid var(--bs-danger) !important;
        border-left: 0 !important;
    }

    .border-start.border-2.border-primary {
        border-right: 2px solid var(--bs-primary) !important;
        border-left: 0 !important;
    }

    .border-start.border-2.border-success {
        border-right: 2px solid var(--bs-success) !important;
        border-left: 0 !important;
    }

    .border-start {
        border-right: $border-width solid var(--bs-border-color) !important;
        border-left: 0 !important;
    }

    .border-end {
        border-left: $border-width solid var(--bs-border-color) !important;
        border-right: 0 !important;
    }

    .border-end-0 {
        border-left: 0 !important;
    }

    .border-start-0 {
        border-right: 0 !important;
    }

    // scss-docs-start responsive-breakpoints
    // We deliberately hardcode the `bs-` prefix because we check
    // this custom property in JS to determine Popper's positioning

    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

            .dropdown-menu#{$infix}-start {
                --bs-position: start;
                right: 0 #{"/* rtl:ignore */"};
                left: auto #{"/* rtl:ignore */"};
            }

            .dropdown-menu#{$infix}-end {
                --bs-position: end;
                right: auto #{"/* rtl:ignore */"};
                left: 0 #{"/* rtl:ignore */"};
            }
        }
    }
}